# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://ctrncyswjdvckozsosnv.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImN0cm5jeXN3amR2Y2tvenNvc252Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDQ4OTc3MjMsImV4cCI6MjA2MDQ3MzcyM30.4jd9vtos9MPcZ_KdC4hxPDqgnwSFCbV6BUtZ76k5dM0
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImN0cm5jeXN3amR2Y2tvenNvc252Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDQ4OTc3MjMsImV4cCI6MjA2MDQ3MzcyM30.4jd9vtos9MPcZ_KdC4hxPDqgnwSFCbV6BUtZ76k5dM0
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImN0cm5jeXN3amR2Y2tvenNvc252Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0NDg5NzcyMywiZXhwIjoyMDYwNDczNzIzfQ.mEJmlGvZIJSPsDjJJ-iR509od28vd3IXUDf5CBZz_UA

# NextAuth
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=$(openssl rand -hex 32)

# Google OAuth
GOOGLE_CLIENT_ID=tu_id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=tu_secreto

# Supabase API User (para autenticación server-side)
SUPABASE_AUTH_EMAIL=api@insight.local
SUPABASE_AUTH_PASSWORD=your-secure-password-here
